@inherits UmbracoViewPage
    
@{
    var homePage = Umbraco.TypedContentAtRoot().First();
}

<ul>
    <li><a href="@homePage.Url()">@homePage.Name</a></li>
    @foreach (var page in homePage.Children.Where(x => x.IsVisible()))
    {
        <li><a href="@page.Url">@page.Name</a></li>
    }
</ul>